@import url(https://fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic);
@import "bootstrap-override";

.btn-dotted {
  color: @gray-color;
  border-bottom: 1px dotted #000;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: @dark-color;
    border-bottom: 1px dotted #000;
    text-decoration: none;
  }
}

a {
  color: @primary;
  &:hover {
    color: @primary-hover;
  }
}

.recipe_list {
  color: @gray-color;
  &:hover {
    color: @gray-color;
  }
}


body {
  overflow-y:scroll;
  font-family: 'PT sans', Arial, sans-serif;
  height: 100%;
  background-color: @bg-color;
  background: url("/images/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .navbar {
    margin: 0 10px;
  }

  .title {
    color: @primary-hover;
  }

  .color-magenta {
    color: @primary;
  }

  .btn-purple {
    color: @light-color;
    background-color: @primary;
    &:hover {
      background-color: @primary-hover;
      color: @light-color;
    }
  }
  .btn-gray {
    background-color: @very-light-color;
    color: @gray-color;
    &:hover {
      color: @gray-color;
      background-color: @middle-lighter-color;
    }
  }

  .btn-secondary {
    background-color: @light-color;
    color: @gray-color;
    &:hover {
      color: @gray-color;
      background-color: @middle-color;
    }
  }

  table.main_content {
    margin: 0 auto;
    min-width: 900px;
    width: 60%;

    header {
      margin: 10px auto;
      height: 120px;

      .login_form {
        margin: auto;
        width: 240px;
        padding: 10px;
        .btn {
          display: block;
          margin: 10px;
        }
      }
    }

    .navbar-brand {
      color: @gray-color;
      &:hover {
        color: @gray-color;
      }
    }

    .left_sidebar {
      display: inline-block;
      border-radius: 4px;
      background-color: fadeout(@light-color, 20%);
      min-height: 230px;
      width: 250px;
      word-wrap: break-word !important;
      div {
        width: 220px;
      }
    }

    .center_bar {
      margin: 0 10px;
      border-radius: 0 0 4px 4px;
      min-height: 500px;
      background-color: fadeout(@white-color, 20%);

    }

    .right_sidebar {
      display: inline-block;
      border-radius: 4px;
      background-color: fadeout(@light-color, 20%);
      min-height: 200px;
      width: 250px;
      div {
        width: 220px;
      }

    }

    footer {
      color: @light-color;
      border-radius: 4px;
      div {
        width: 100%;
        text-align: right;
        background-color: @primary;
        height: 30px;
        &:hover {
          background-color: @primary-hover;
        }
      }
    }

  }

  span.add-ingr {
    display:table;
    margin:0 auto;
  }

}

.recipe {
  margin: 10px 0;
  padding: 10px;
  background-color: fadeout(@light-color, 20%);
  border-radius: 4px;
  border: solid 1px @bg-color;
  min-height: 200px;
  position:relative;

  hr {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .recipe-title {
      h3 {
        margin-top: 0;
        //color: @primary;
        display: inline-block;
      }

      .recipe-edit-btn {
        float: right;
        margin-bottom: 5px;
      }
  }

  img {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    float: right;
  }

  .div_approve {
    position:relative;
  }


  .tag {
    position:absolute; /* добавили */
    bottom:0; /* добавили */
  }


}

.form-group {



  label {
    padding-top: 5px;
  }
  div {
    margin-bottom: 6px;
  }
}

.addTagBtn {
  margin-top: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

.center {
  text-align: center;
}

.m0auto { margin: 0 auto; }

.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.mb0 { margin-bottom: 0; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.mb5 { margin-bottom: 5px; }

.mr10 { margin-right: 10px; }
.mr15 { margin-right: 15px; }

.pl0 { padding-left: 0; }
.pr6 { padding-right: 6px; }
.pl6 { padding-left: 6px; }
.pb5 { padding-bottom: 5px; }
.pt5 { padding-top: 5px; }

.float-r { float: right; }
.float-l { float: left; }
.display-in-bl {display: inline-block !important;};