<div class="container">
    <div class="col-lg-12">
        <h1 class="page-header">404
            <small>Страница не найдена</small>
        </h1>
        <h3>Вы, вероятно, ошиблись адресом. Пока вы думаете, куда хотели попасть, можете прочитать этот куплет:</h3>

        <pre>
        Сохрани мою речь навсегда за привкус несчастья и дыма,
        За смолу кругового терпенья, за совестный деготь труда.
        Так вода в новгородских колодцах должна быть черна и сладима,
        Чтобы в ней к Рождеству отразилась семью плавниками звезда.
        </pre>
    </div>
</div>
<!-- /.container -->
