<div class="container">
    <div class="recipe-title">
        <h2 class="display-in-bl title">Редактировать рецепт</h2>
        <div class=" btn btn-secondary float-r mt20" ng-click="ctrl.deleteRecipe(recipe.id)">Удалить</div>
    </div>
    <hr/>
    <div ng-controller="EditRecipeController as ctrl" data-ng-include="'recipeForm.html'"></div>
</div>
