<div class="container">
    <h2 class="title">Кулинария – это, прежде всего, искусство.</h2>
    Результатом его является приготовленная пища, вкусная и питательная.
    Говоря об истории кулинарного искусство стоит упомянуть тот факт, что само кулинарное искусство содержит в себе плоды творчества нескольких поколений этого народа. Национальные кухни различных стран никогда не развивались равномерно. Считается, что наиболее развитыми было кулинарное искусство у древних евреев, персов и ассиро-вавилонян. Столы этих народов ломились от пышных блюд, изысканно украшенных и разнообразно приготовленных.
    </br>
    Обычаи и нравы этих стран первыми переняли греки. Позднее они даже превзошли своих учителей в пышности и изысканности стола. Именно греки стали первыми создавать кулинарные рисунки, описывать продукты питания, писать советы по приготовлению пищи и рецепты. До 4 века в Древней Греции кухней занимались женщины, поваров-мужчин практически не было. Древние греки питались скромно, обычный обед состоял из 5-6 блюд. Очень любили они свежую морскую рыбу, ракушки, яйца, свиное жаркое, домашнюю птицу и зайчатину. В трудах Атенея, Плутарха, Гиппократа, можно найти много данных о кулинарном искусстве.
    </br>
    Началом кулинарного искусства славян можно отнести к 12 веку. Основными продуктами были хлеб, мясо, овощи, квас, мед, рыба и дичь. Плодовые деревья на Руси стали выращивать с 10 века, в этом же веке стали делать квас. Особенно на Руси пользовался уважением мед. Он добавлялся во многие блюда и напитки. Французская кухня пожалуй одна из самых известных. По мнению некоторых историков, она оказала особое влияние на русскую кухню.

    <div>
        <div ng-repeat="recipe in recipes" ng-include="'recipe_min.html'"></div>
    </div>
    <div class="center mt20">
        1-10 из <span ng-bind="count"></span>
    </div>
    <nav class="center page mt20 mb20">
        <nav class="navbar navbar-default pagination">
            <ul class="nav navbar-nav" ng-init="active='1'">
                <li>
                    <a href="#/home" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-click="active='1'" ng-class="active=='1' ? 'active' : ''"><a href="#/home">1</a></li>
                <li ng-click="active='2'" ng-class="active=='2' ? 'active' : ''"><a href="#/home">2</a></li>
                <li ng-click="active='3'" ng-class="active=='3' ? 'active' : ''"><a href="#/home">3</a></li>
                <li ng-click="active='4'" ng-class="active=='4' ? 'active' : ''"><a href="#/home">4</a></li>
                <li ng-click="active='5'" ng-class="active=='5' ? 'active' : ''"><a href="#/home">5</a></li>
                <li>
                    <a href="#/home" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </nav>
</div>
<footer>
    <div class="pt5 pr6">Силаковы и Исаев </div>
</footer>
