<div class="container">
    <div class="recipe">
        <div class="recipe-title title">
            <h3>{{recipe.title}}</h3>
            <a href="#/edit/{{recipe.id}}" class="recipe-edit-btn btn btn-gray">Редактировать</a>
        </div>
        <hr/>
        <!-- <img class="recipe-image-small" src="#/" width="100px" height="100px"/> -->
        <div>
            <span>Теги:</span>
            <span ng-repeat="tag in recipe.tags">#{{tag.name}} </span>
        </div>
        <div>
            <h4 class="title">Ингридиенты:</h4>
            <span ng-repeat="ingr in recipe.ingridients">{{ingr.name}}({{ingr.volume}} {{ingr.measure.name}})<br/></span>
        </div>
        <div>
            <h4 class="title">Способ приготовления:</h4>
            {{recipe.content}}
        </div>
    </div>
</div>
