<div class="container">
    <h2 class="title">Поиск то тегам:</h2>
    <div>
        <div ng-repeat="recipe in recipes">
            <div class="recipe">
                <div class="recipe-title">
                    <a href="#/recipes/{{recipe.id}}"><h3>{{recipe.title}}</h3></a>
                    <a href="#/edit/{{recipe.id}}" class="recipe-edit-btn btn btn-gray">Редактировать</a>
                </div>
                <hr/>
                <!-- <img class="recipe-image-small" src="#/" width="100px" height="100px"/> -->
                <h4>Ингридиенты:</h4>
                <span ng-repeat="ingr in recipe.ingridients">{{inrg.name}}({{ingr.volume}} {{ingr.measure.name}})<br/></span>
                <div class="tag">
                    <span>Теги:</span>
                    <span ng-repeat="tag in recipe.tags">#{{tag.name}} </span>
                </div>
            </div>
        </div>
    </div>
</div>