<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>

    <title>Рецепты</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="ACME Inc.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/images/icon.png">
    <link rel="stylesheet" href="css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="css/libs/toastr.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body ng-app="recipeApp">
<toast ></toast>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<table class="main_content" ng-init="show=true; active='home'">
    <tr>
        <td colspan="3">
            <!--<div ng-include='"header.html"'></div>-->
            <header>
                <div class="login_form">
                    <a href="#/home"><div class="btn btn-purple" ng-click="show=false; active='home'">Войти как пользователь</div></a>
                    <div class="btn btn-gray" ng-click="show=true">Войти как администратор</div>
                </div>
            </header>
        </td>
    </tr>
    <tr>
        <td class="left_sidebar">
            <div ng-include='"left_sidebar.html"'></div>
        </td>
        <td>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <div class="navbar-brand"><img src="/images/icon.png" class="mb5 display-in-bl"> Рецепты</div>
                    </div>
                    <div>
                        <ul class="nav navbar-nav">
                            <li ng-click="active='home'" ng-class="active=='home' ? 'active' : ''"><a href="#/home">Главная</a></li>
                            <!--
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">Page 1
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#/faq">Page 1-1</a></li>
                                    <li><a href="#/pricing">Page 1-2</a></li>
                                    <li><a href="#/contact">Page 1-3</a></li>
                                </ul>

                            </li>
                            -->
                            <li ng-click="active='approves'" ng-class="active=='approves' ? 'active' : ''" ng-show="show"><a href="#/approves">Одобрить рецепты</a></li>
                            <li ng-click="active='add'" ng-class="active=='add' ? 'active' : ''"><a href="#/add">Добавить рецепт</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Вот тута наш view -->
            <div ng-view class="center_bar"></div>
        </td>
        <td class="right_sidebar">
            <div ng-include='"right_sidebar.html"'></div>
        </td>
    </tr>
</table>

<div id="smallModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div id="modalMsg" class="modal-content">
            <span>Заполните всю информацию об ингридиенте и нажмите "Добавить ингридиент".</span>
        </div>
    </div>
</div>

<script src="js/libs/jquery.min.js"></script>
<script src="js/libs/bootstrap.min.js"></script>
<script src="js/libs/toastr.min.js"></script>
<script src="js/libs/angular.js"></script>
<script src="js/libs/angular-route.js"></script>
<script src="js/libs/angular-animate.js"></script>
<script src="js/libs/angular-sanitize.js"></script>
<script src="js/app2.js"></script>
</body>
</html>