<ul id="{{ingridient.id}}">
    <li>{{ingridient.name}} ({{ingridient.volume}} {{ingridient.measure.name}})
        <span style="cursor: pointer" ng-click="ctrl.removeIngr(ingridient)"><span class="glyphicon glyphicon-remove color-magenta"></span></span>
    </li>
</ul>
