<form name="form">
    <div class=" form-group">
        <label for="pecipeName" class="control-label col-sm-3 font-size-16">Название  рецепта:</label>
        <div class="col-sm-9">
            <!-- ng-init больше похож на хак, ибо изначально наша модель не проинициализирована, и это мешает, например, добавлять теги -->
            <input type="text" ng-model="$parent.recipe.title" ng-init="$parent.recipe.isDiet=false" id="pecipeName" name="" class="form-control" placeholder="Название рецепта"/>
        </div>
    </div>
    <div class="form-group">
        <label for="tagName" class="col-sm-3 control-label">Название тега:</label>
        <div class="col-sm-7">
            <input type="text" id="tagName" ng-model="$parent.newTag.name" class="form-control" placeholder="Название тега"/>
        </div>
        <div class="col-sm-2">
            <div class="addTagBtn btn-dotted" ng-click="ctrl.appendTag()">Добавить тег</div>
        </div>
    </div>
    <div class="form-group col-sm-12 mb0">
        <label class="control-label">Список добавленных тегов:</label>
        <div id="tags">
            <span ng-repeat="tag in $parent.recipe.tags" ng-include="'tag.html'"></span>
        </div>
    </div>
    <hr/>
    <div class="form-group col-sm-12">
        <h3 class="control-label color-magenta center">Ингридиенты:</h3>
    </div>
    <div class="form-group">
        <label for="ingrName" class="col-sm-3 control-label">Название ингридиента:</label>
        <div class="col-sm-9">
            <input type="text" id="ingrName" ng-model="$parent.newIngridient.name" class="form-control" placeholder="Название ингридиента"/>
        </div>
    </div>
    <div class="form-group">
        <label for="ingrVol" class="col-sm-3 control-label">Вес/объем/количество:</label>
        <div class="col-sm-7">
            <input type="number" id="ingrVol" name="" ng-model="$parent.newIngridient.volume" class="form-control" placeholder="Вес/объем/количество"/>
        </div>
        <div class="col-sm-2 pl0">
            <select class="form-control pl6 pr6" id="ingrSelect" ng-model="$parent.newIngridient.measure"
                    ng-options="measure as measure.name for measure in $parent.measures track by measure.id">
                <option value="">Выберите..</option>
            </select>
        </div>
    </div>
    <span class="btn-dotted center add-ingr" ng-click="ctrl.appendIngr()">Добавить ингридиент</span>
    <hr/>
    <div class="form-group">
        <label class="control-label">Список добавленных ингридиентов:</label>
        <ul id="ingridients" ng-repeat="ingridient in $parent.recipe.ingridients" data-ng-include src="'ingridient.html'">
        </ul>
    </div>
    <hr/>
    <h3 class=" center control-label color-magenta">Способ приготовления:</h3>
    <div class="form-group">
        <textarea ng-model="$parent.recipe.content" class="form-control" rows="7"></textarea>
    </div>
    <div class="center">
        <input class="btn btn-purple" type="submit" ng-click="ctrl.saveRecipe(recipe)" value="Сохранить"/>
        <a class="btn btn-secondary" href="#/home">Отмена</a>
    </div>
</form>
<pre>recipe = {{recipe | json}}</pre>
<pre>recipeId = {{recipeId | json}}</pre>