<div class="recipe">
    <div class="recipe-title">
        <h3>({{recipe.id}}) {{recipe.title}}</h3>
        <a href="#/edit/{{recipe.id}}" class="recipe-edit-btn btn btn-gray">Редактировать</a>
    </div>
    <hr/>
    <!-- <img class="recipe-image-small" src="#/" width="100px" height="100px"/> -->
    <div>
        <span>Теги:</span>
        <span ng-repeat="tag in recipe.tags">#{{tag.name}} </span>
    </div>
    <div>
        <h4>Ингридиенты:</h4>
        <span ng-repeat="ingr in recipe.ingridients">{{ingr.name}}({{ingr.volume}} {{ingr.measure.name}})<br/></span>
    </div>
    <div class="center">
        <div class="btn btn-purple mt10 mb10" ng-click="ctrl.approveRecipe(recipe.id)">Одобрить</div>
        <div class="btn btn-gray mt10 mb10" ng-click="ctrl.rejectRecipe(recipe.id)">Отклонить</div>
    </div>
</div>
