<header>
    <div class="login_form">
        <div class="btn btn-purple" ng-click="show=false">Войти как пользователь</div>
        <div class="btn btn-gray" ng-click="show=true">Войти как администратор</div>
    </div>
</header>
