<div class="container"></div>

<div ng-controller="LastRecipesController" class="container">
    <div class="center">
        <h4 class="title">Рецепты, добавленные последними</h4>
    </div>
        <div ng-repeat="recipe in recipes" >
            <a class="recipe_list" href="#/recipes/{{recipe.id}}"><h5>{{recipe.title}}</h5></a>
        </div>
</div>
