<div class="container"></div>
<div ng-controller="SearchController as ctrl" class="container">
    <div class="center mt20 mb10">
        <h4 class="title">Поиск</h4>
    </div>
    <div class="form-group mt10">
        <label for="search">Введите теги</label>
        <input ng-model="searchWord" type="text" class="form-control mt10 mb10" id="search" placeholder="Введите теги">
    </div>
    <div class="center btn btn-purple mt10 mb10" ng-click="ctrl.search(searchWord)">Найти</div>

</div>
